.ticker-container {
    max-width: 1840px;
    min-width:90%;
    min-height:1000px;
    display: inline-block;
    justify-content: center;
    padding: 0px 100px;
}
.ticker-col {
    margin: 2.5%;
    max-height: 120px;
    width:40%;
    display:inline-block;
}

@media (max-width: 840px) {
    .ticker-container {
        width: 100%;
        box-sizing: border-box;
        min-height:1000px;
        display: inline-block;
        justify-content: center;
        padding: 0px 25px;
    }
    .ticker-col {
        max-height: 120px;
        width: 100%;
        display:inline-block;
    }
}